/backend/node_modules
/frontend/node_modules
/backend/videos/convert
/backend/resources-storage/uploads
/backend/videos/*.mp4
/backend/videos/*.srt
/backend/videos/*.ass
/backend/*.env
/backend/videos/*.png
/backend/videos/
