.sign-in_form {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    width: 720px;
    box-shadow: 0px 0px 5px var(--shadow-color);
    border-radius: 5px 5px;
}