:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-content {
  max-height: 60vh;
  overflow: auto;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button.small {
  padding: 0.4em 1.2em;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

button.active {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.flex {
  display: flex;
}

.gap-3 {
  gap: 15px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.border {
  border: 1px solid #ffffff;
}

.mt-2 {
  margin-top: 16px;
}

.p-2 {
  padding: 16px;
}

.radius-1 {
  border-radius: 8px;
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-red {
  border-color: #bf3131;
}

.border-yellow {
  border-color: #ffa732;
}

.border-bottom {
  border-bottom: 1px solid #ffffff;
}

.pb-2 {
  padding-bottom: 16px;
}

.btn-success {
  background-color: #219c90;
  color: #ffffff;
}

.border-blue {
  border-color: #3085c3;
}

.text-white {
  color: #ffffff;
}

.text-blue {
  color: #3085c3;
}

.text-yellow {
  color: #ffa732;
}

.text-red {
  color: #bf3131;
}
.selected-course-assesses {
  display: block;
  position: relative;
  flex-direction: column;
  width: 40%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: 0;
}
.selected-course-assess {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  user-select: none;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
