.home-search {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section #search-input {
  width: 50%;
  margin: 30px 50px;
  padding: 5px;
  color: #bb3e00;
  border: 2px solid #ffa200;
  border-radius: 5px;
  outline: #ffa200;
}

#search-input:focus {
  box-shadow: 0 0 3px #bb3e00;
}

#home-btn {
  padding: 5px 20px;
  background-color: #ffa200;
  border: none;
  border-radius: 5px;
  display: flex;
  width: 70px;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  border: 2px solid #ffa200;
  transition: all 0.25s;
  color: #fff;
}

#home-btn #add-icon {
  width: 20px;
  height: 20px;
}

#home-btn:hover {
  background-color: #fff;
  color: #bb3e00;
  transform: scale(1.05);
}
.home-section {
  height: 100%;
  display: flex;
  width: 100%;
}

#home-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 73%;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 1500px;
}
.recent-activity {
  width: 28%;
  padding: 30px;
}
.activity-item {
  font-size: medium;
}
.activity-item-odd {
  font-size: medium;
  background-color: #d7d7d7;
}
.pet-amount {
  /* text-align: right; */
  margin-left: 30px;
}
.list-activities {
}
.button-container {
  padding: 5px;
}
.table-container {
  padding: 5px;
}
.card-body {
  border: 2px solid black;
  border-radius: 5%;
  padding: 10px;
  overflow-y: auto;
  height: 33vh;
}
